
h1[class="cool-text"] {
	color: rgba(200,50,230,0.8);
	font-family: "Amatic SC", sans_serif;
}

main p .cool-text {
	color: #0ff;
	font-family: Lobster, Roboto, sans_serif;
	text-decoration: line-through wavy white;
}

main p {
	font-size: 15px;
	font-family: "Indie Flower", monospace;
	border: 12px dashed green;
	font-weight: bold;
	line-height: 1.5;
}

main p:nth-of-type(even) {
	width: 500px;
	height:2000px;
	padding: 100px 0px 0px 20px;
	margin: 60px auto;
}

.nice-border {
	border-width: 20px;
	border-color: purple;
	border-style: groove;
	border-radius: 100%;
}

p:nth-of-type(odd) {
	text-align: right;
}

.orange-bg {
	background-color: rgb(218, 112, 214) !important;
}

#neat-form {
	font-size: 25px;
	color: blue;
}

p + table {
	background: silver;
}


body {
	background: url(https://content.jwplatform.com/thumbs/1QJIwfDj-720.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

body:hover {
	color: gold;
}

p:nth-of-type(even) {
	background: purple;
}